@font-face {
    font-family: "Norse";
    src: url(fonts/Norse-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ul,li {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

a {
    color: inherit;
}

ul {
    list-style-type: none;
}

form,
input,
label,
select,
button {
    appearance: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    display: block;
}
:root {
    font-size: calc(6px + 1vh);

    --color-button: #4c6b4c;
    --color-background: #eeeeee;
    --color-text: #000000;
    --color-shadow: #aaa;

    --color-invalid: crimson;
    --color-valid: cornflowerblue;

    --color-text-darkbg: #fff;
    --color-contrast-text-darkbg: #00000080;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
}

.frame {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidebar {
    background-color: var(--color-background);
    background: url(img/background.jpg) no-repeat center center;
    background-size: cover;
    width: 35%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--color-text-darkbg);
}

.sidebar .hero {
    margin-top: 50%;
    background: var(--color-contrast-text-darkbg);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Norse";
    font-size: 6rem;
}

.sidebar .hero img {
    height: 80%;
}

.sidebar .hero img {
    display: inline;
}

.sidebar .image-credit {
    width: 100%;
    background: var(--color-contrast-text-darkbg);
    text-align: center;
    padding: 0.5em;
}

.content {
    width: 65%;
    display: flex;
    flex-direction: column;
    background: var(--color-background);
}

.container {
    padding: calc(1rem + 1vh) calc(1rem + 2vw);
}

.signup {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.signup .header {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.signup .body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    background: var(--color-text-darkbg);
    box-shadow: 4px 4px 5px 5px var(--color-shadow);
}

.signup .body ul {
    width: calc(300px + 20vw);
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.signup li {
    width: 40%;
}

.signup label {
    color: #454545;
    font-size: 0.8rem;
    font-weight: bold;
}

.signup input {
    height: 2rem;
    width: 100%;
    border: 2px solid #e5e7eb;
    border-radius: 0.4rem;

    padding: 0.2rem 0.4rem;
}

.signup input + span {
    visibility: hidden;
}

.signup input:focus {
    outline: none;
    border-color: var(--color-valid);
    box-shadow: 2px 2px 3px var(--color-shadow);
}

.signup input:invalid:not(:placeholder-shown) {
    border-color: var(--color-invalid);
}

.signup input:invalid:not(:placeholder-shown) + span::after{
    visibility: visible;
    color: var(--color-invalid);
}

.signup input[type="text"]:invalid:not(:placeholder-shown) + span::after{
    content: "Please enter a name";
}

.signup input[type="email"]:invalid:not(:placeholder-shown) + span::after{
    content: "Please enter a valid email";
}

.signup input[type="password"]:invalid:not(:placeholder-shown) + span::after{
    content: "Too short!";
}

.signup .footer {
    flex-grow: 4;
}

.signup button {
    width: calc(20ch + 2vw);
    height: 3rem;
    padding: 0.2rem;

    background-color: var(--color-button);
    color: var(--color-text-darkbg);
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;

    transition: all 0.2s linear;
}

.signup button:hover {
    background-color: var(--color-text-darkbg);
    color: var(--color-button);
    border: 1px solid var(--color-button);
}

.signup a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-button);
}